.loginContainerWrapper{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

.loginFormContainer{
    width: 75%;
}

.welcomeCol{
    padding-left: 3vw;
}

@media only screen and (max-width: 991px){
    .welcomeCol{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-left: 0;
    }
    :root{
    	--hr-portal-text-size: 9vw;
    }
    .loginFormContainer{
    width: 100%;
}

}

